{% extends "base.html" %}
{% block content %}

  <form class="" method="POST" action="/">
    {{ form.title }}
    {% csrf_token %}

    <input type="submit" name="Create">

  </form>

  <h1>Here are your Tasks</h1>

  {% if tasks %}
     {% for task in tasks %}

        <div class="">
            <a href="{% url 'Edit' task.id %}"> Edit </a>
            <a href="{% url 'delete' task.id %}"> Delete </a>
          {% if tasks.complete == True %}

        <p> <span> <del>{{task}}></del> </span> </p>


          {% else %}

          <p> {{task}} </p>

          {% endif %}

        </div>


     {% endfor %}

     {% else %}
     <p>You have no Tasks set yet</p>
    {% endif %}
{% endblock %}
